*{
    font-family: PingFangSC-Regular;
}

.first{
    margin-top: .3rem;
}

.content {
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 18px;
}

.textCue{
    font-size: 12px;
    color: #c0c0c0;
}

#cardDetail{
    padding:0.1rem 0.4rem;
    display: flex; 
    flex-flow: column;
}

.card{
    height: 4.867rem;
    background:url('../img/card2@3x.png')  no-repeat top left scroll;
    background-size:contain;
    display: flex; 
    flex-flow: column-reverse;
    padding: 0rem 0.4rem;
    margin-bottom: 0.426rem;
}

.cardInfo{
    font-size: 14px;
    color:#FFFFFF;
    height: 0.567rem;
    display: flex; 
    flex-flow:row;
    justify-content: space-between;
    align-items:center;
}

.cardInfo2{
    color:#FFFFFF;
    display: flex; 
    flex-flow:row;
    justify-content: space-between;
}

.cardBalance{
    color:#FFFFFF;
    height: 0.967rem;
    display: flex; 
    flex-flow:row;
}

.balanceValue{
    font-size: 26px;
    display: flex; 
    flex-flow: column-reverse;
}

.balanceFlag{
    font-size: 14px;
    display: flex; 
    flex-flow: column-reverse;
}


.function{
    height: 2.187rem;
    display: flex; 
    flex-flow: row;
    align-items:center;
    justify-content: center;
    border-bottom: 1px solid #ebebeb;
}

.funcHead{
    width: 1.067rem;
    height: 1.2rem;
    display: -webkit-box;
    -webkit-box-align: center;
}

.funcHead img{
    width: .88rem;
    height: .88rem;
}

.funcPic{
    height: 1.2rem;
    width: .567rem;
    display: -webkit-box;
    -webkit-box-align: center;
}

.funcDesc{
    width: 7.57rem;
}

.funcDesc div {
    height: 0.667rem;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.funcName{
    font-size: 16px;
}

.funcNameDesc{
    font-size: 12px;
    color:#A2A2A2;
}