* {
    letter-spacing: 1px;
}

.mui-icon {
    display: none;
}

.search-container {
    width: 100%;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.pos-item {
    max-width: 100%;
    padding: .5rem;
    width: -webkit-fill-available;
    position: relative;
    display: block;
}

.pos-item::after {
    content: "";
    width: 90%;
    height: 1px;
    border-bottom: solid 1px #ddd;
    position: absolute;
    bottom: 1px;
    left: 5%;
}

.pos-head {
    justify-content: space-between;
}

.pos-head p {
    color: #A2A2A2;
    font-size: 12px;
}

.pos-name {
    color: #505064 !important;
    font-size: 16px !important;
    width: 60%;
}

.pos-footer {
    justify-content: space-between;
}

.pos-footer p {
    color: #A2A2A2;
    font-size: 12px;
    line-height: 1.17rem;
}

.pos-footer p img {
    width: .45rem;
    vertical-align: middle;
    margin-right: .2rem;
}

.collect-pic {
    width: 1rem;
    text-align: right;
}

.collect {
    width: .6rem;
}