* {
    font-family: PingFangSC-Regular;
}

.main_div {
    width: 10rem;
}

.selectDiv {
    padding-top: .213rem;
    height: 2.32rem;
    display: flex;
    flex-flow: column;
    padding: 0px 0.427rem;
    width: 9.146rem;
    z-index: 10;
}

.typeName {
    height: 0.987rem;
    align-items: center;
    display: flex;
    flex-flow: row;
    font-size: 16px;
    color: #A2A2A2;
}

.selectBtn {
    height: 1.333rem;
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.selectBtn button {
    width: 2.907rem;
    height: 1.333rem;
    background-color: #ffffff;
    border: 1px solid #A2A2A2;
    border-radius: .1rem;
    font-size: 20px;
}

.inputDiv {
    height: 1.84rem;
    padding-left: 0.427rem;
    width: 8.719rem;
    border-bottom: 1px solid rgba(162, 162, 162, .4);
    display: flex;
    flex-flow: row;
    align-items: center;
}
#lastInput {
    border-bottom: none;
}

#broadSelectInfo {
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    top: 0px;
    height: 4.84rem;
}

.inputDiv input {
    border: 0px;
    width: 8.719rem;
    font-size: 16px;
}

.input_main {
    /* border-radius: .1rem;
    box-shadow: 0px 0px 5px #A2A2A2; */
    margin: .533rem 0.427rem;
    width: 9.146rem;
    z-index: 10;
    position: relative;
    margin-bottom: 2.08rem;
    top: 4.84rem;
    box-shadow: 0 2px 20px 0 rgba(0, 121, 197, 0.10);
    border-radius: 20px;
    overflow: hidden;
}

#lastInput {
    border-bottom: 0px;
}

.inputDiv input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #A2A2A2;
}

.broadInfo {
    border-top: 1px solid rgba(162, 162, 162, .4);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 1.68rem;
    padding: 0px 0.427rem;
    width: 9.146rem;
    position: fixed;
    bottom: 0px;
    z-index: 99;
    background-color: #ffffff;
}

.broadInfo button {
    height: 1.28rem;
    width: 3.253rem;
    background-color: #92CDF2;
    border-radius: .64rem;
    color: #ffffff;
    font-size: 18px;
    border: 0px;
}

.priceInfo {
    display: flex;
    flex-flow: column;
}

.price {
    font-size: 24px;
    color: #FF5E5E;
}

.buyInfo {
    font-size: 14px;
    color: #787886;
    letter-spacing: 1px;
}

.selectBtn .btnShow {
    color: #0079C5;
    background: url("../img/rechargebox@3x.jpg") no-repeat;
    background-size: 100% 100%;
    border: 0px;
}

.success {
    /* background-color: #cc85d9; */
    width: 10rem;
    position: absolute;
    top: 2rem;
    bottom: 6rem;
    left: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.success img {
    max-width: 2.133rem;
    max-height: 2.133rem;
}

.success p {
    font-size: 16px;
    margin-top: 0.427rem;
}