* {
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none;
}

.hides {
    visibility: hidden;
}

.mask {
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.head {
    /* position: relative;
    z-index: 100;
    width: 100%; */
}

/* 开关切换start */

.inp-radio-active {
    background-color: #00A0E9 !important;
    color: #fff !important;
}

.inp-radio {
    position: relative;
    width: 3.2rem/* 240/75 */
    ;
    height: .906667rem/* 68/75 */
    ;
    border: 1px solid #00A0E9;
    border-radius: 100px;
    margin: .133333rem/* 10/75 */
    auto;
    box-sizing: border-box;
    padding: .026667rem/* 2/75 */
    ;
    display: flex;
}

.inp-radio label {
    width: 1.546667rem/* 116/75 */
    ;
    height: .8rem/* 60/75 */
    ;
    display: inline-block;
    background-color: #fff;
    border-radius: 100px;
    color: #00A0E9;
    text-align: center;
    box-sizing: border-box;
    padding: .066667rem/* 5/75 */
    .28rem/* 21/75 */
    ;
}

.inp-radio input {
    border: 0;
    margin: auto;
}

.inp-span1 {
    position: absolute;
    top: 50%;
    left: .373333rem/* 28/75 */
    ;
    transform: translateY(-50%);
    font-size: 16px;
    height: .666667rem/* 50/75 */
    ;
    line-height: .666667rem/* 50/75 */
    ;
}

.inp-span2 {
    position: absolute;
    top: 50%;
    right: .373333rem/* 28/75 */
    ;
    transform: translateY(-50%);
    font-size: 16px;
    height: .666667rem/* 50/75 */
    ;
    line-height: .666667rem/* 50/75 */
    ;
}

/* 开关切换end */

.tk-collapse {
    position: relative;
    z-index: 100;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #303033;
    /* margin-top: 5px; */
}
.tk-collapse::after {
    position: absolute;
    right: 0px;
    top: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.tk-collapse::before {
    position: absolute;
    right: 0px;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.collapse-content {
    /* position: relative; */
    z-index: 100;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 85px;
}

.area-content {
    height: 200px;
    overflow: auto;
}

.total-price-content {
    height: 200px;
    overflow: auto;
}

.selected-content,
.selected-content1 {
    height: 35px;
    line-height: 35px;
    width: 100%;
    position: relative;
    z-index: 100;
    background-color: #fff;
    padding-left: 16px;
    box-sizing: border-box;
}

.selected-content ::after,
.selected-content1 ::after {
    position: absolute;
    right: 16px;
    bottom: -1px;
    left: 16px;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.selecte-detail {
    display: flex;
    align-items: center;
    height: 35px;
    line-height: 35px;
}

.selected-icon {
    background: url("../img/screen.png");
    background-size: cover;
    height: 18px;
    width: 18px;
}

.selecte-detail div {
    /* padding-left: 5px; */
    /* margin-right: 10px; */
    color: red;
}

li {
    list-style: none;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    position: relative;
}

li::after {
    position: absolute;
    right: 0px;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.tk-collapse {
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.tk-collapse div{
    height: 35px;
    line-height: 35px;
}
.search-comm-style {
    height: 30px;
    margin: 10px 30px;
    border: 1px solid red;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: red;
}
.arrow-right{
    background: url("../img/arrowright.png") no-repeat;
    background-size: cover;
    width: 11px;
    height: 11px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.arrow-right-first{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 31px;
}
.comm-img {
    background: url("../img/arrowd.png") no-repeat;
    width: 11px;
    height: 5px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.comm {
    flex: 1;
    position: relative;
}

.wrapper {
    margin: 0 .426667rem 1.386667rem /* 52/37.5 */;

}

.content-wrapper {
    position: relative;
    height: 2.773333rem/* 208/75 */
    ;
    display: flex;
    border-bottom: 0.5px solid #D9D9D9;
}

.icon-img img {
    margin: .306667rem/* 23/75 */
    .32rem/* 24/75 */
    .306667rem/* 23/75 */
    0;
    width: 2.933333rem/* 220/75 */
    ;
    height: 2.16rem/* 162/75 */
    ;
    background: url(../img/no-img.png) no-repeat 0 0;
}

.text-title {
    margin-top: .48rem/* 36/75 */
    ;
    line-height: .6rem/* 45/75 */
    ;
    font-size: 16px;
    color: #303033;
    text-align: left;
}

.text-desc {
    margin-top: .186667rem/* 14/75 */
    ;
    font-size: 12px;
    color: #A2A2A2;
    line-height: .44rem/* 33/75 */
    ;
    text-align: justify;
}

.text-footer {
    position: absolute;
    right: 0;
    bottom: .466667rem/* 35/75 */
    ;
    font-size: 16px;
    color: #FF5E5E;
    text-align: right;
}

.footer {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 0;
    left: 0;
    padding: .16rem/* 12/75 */
    0;
    box-sizing: border-box;
    color: #A2A2A2;
    border-top: 1px solid #D9D9D9;
}

.footer-left,
.footer-mid,
.footer-right {
    flex: 1;
}

.bg-img {
    width: .586667rem/* 44/75 */
    ;
    height: .586667rem/* 44/75 */
    ;
    margin: 0 1.373333rem/* 103/75 */
    .053333rem/* 4/75 */
    1.373333rem/* 103/75 */
    ;
    background-size: .586667rem/* 44/75 */
    .586667rem/* 44/75 */
    ;
}

.bg-img1 {
    background-image: url("../../img/city@3x.png");
}

.bg-img2 {
    background-image: url("../../img/site@3x.png");
}

.bg-img3 {
    background-image: url("../../img/map@3x.png");
}

.bg-img1-active {
    background-image: url("../../img/citychoice@3x.png");
}

.bg-img2-active {
    background-image: url("../../img/sitechoice@3x.png");
}

.bg-img3-active {
    background-image: url("../../img/mapchoice@3x.png");
}

.bg-text {
    text-align: center;
    font-size: 10px;
    letter-spacing: 0;
    line-height: .373333rem/* 28/75 */
    ;
}

.active-color {
    color: #004EA2
}

.no-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-info img {
    width: 3.973333rem/* 298/75 */
    ;
    height: 3.973333rem/* 298/75 */
    ;
    margin: .64rem/* 48/75 */
    auto .426667rem/* 32/75 */
    auto;
}

.no-info-text {
    text-align: center;
    font-size: 16px;
    color: #595D60;
    line-height: .586667rem/* 44/75 */
    ;
}
