*{
    font-family: PingFangSC-Regular;
}

.recordContent{
    padding: 0.427rem;
    max-width: 100%;
    width: -webkit-fill-available;
}

.dateTime{
    height: .907rem;
    font-size: 14px;
}

.dateLeft{
    width: 50%;
    display:block;
    height:.907rem;
    line-height:.907rem;
    float: left;
}

.dateRight{
    width: 50%;
    display:block;
    height:.907rem;
    line-height:.907rem;
    float: right;
    text-align: right;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.record{
    height: 2.187rem;
    display: flex; 
    flex-flow: row;
    align-items:center;
    justify-content: center;
    border-bottom: 1px solid #ebebeb;
}

.recordHead{
    width: 1.067rem;
    height: 1.2rem;
    display: -webkit-box;
    -webkit-box-align: center;
}

.recordHead img{
    width: .88rem;
    height: .88rem;
}

.recordPic{
    height: 1.2rem;
    width: .567rem;
    display: -webkit-box;
    -webkit-box-align: center;
}

.recordTime{
    width: 7.512rem;
}

.depositName{
    font-size: 16px;
    color: #505064;
    width: 50%;
}

.depositTime{
    font-size: 12px;
    color:#A2A2A2;
}

.recordLine{
    justify-content: space-between;
    /* margin: 0.16rem; */
    height: 0.667rem;
}

.depositMoney{
    font-size: 18px;
    font-family: PingFangSC-Semibold;
}

.recordClose{
    font-size: 14px;
    color: #A2A2A2;
}

.noRecord{
    /* background-color: #cc85d9; */
    width: 100%;
    position: absolute;
    top: 1.334rem;
    bottom: 6rem;
    left: 0px;
    display: flex; 
    flex-flow: column;
    align-items:center;
    justify-content: center;
}

.noRecord img{
    max-width: 3.973rem;
    max-height: 3.973rem;
}

.noRecord p{
    font-size: 16px;
}