<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="author" content="通卡联城网络科技有限公司">
    <meta name="keywords" content="通卡联城" />
    <meta name="description" content="通卡联城" />
    <title>中山通网点</title>
    <script src="//g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="//front-h5.oss-cn-hangzhou.aliyuncs.com/mui.min.css">
    <link rel="stylesheet" href="../../css/index.css?v=1.0.0">
    <link rel="stylesheet" href="../../css/point.css?v=1.0.2">
    <link rel="stylesheet" href="//front-h5.oss-cn-hangzhou.aliyuncs.com/mescroll/mescroll.min.css">
    <link rel="stylesheet" href="//front-h5.oss-cn-hangzhou.aliyuncs.com/mui/mui.picker.min.css">
</head>

<body>
    <div class="container">

        <div class="search flex">
            <input type="text" placeholder="搜索" class="search-input" id="search-input">
            <button class="search-btn">搜索</button>
        </div>
    </div>
    <div class="content">
        <div class="tab flex">
            <div class="tab-item">收藏</div>
            <div class="tab-item">附近</div>
            <div class="tab-item tab-active">区域</div>
        </div>
    </div>

    <div id="distance-box" class="choice-section">
        <button id="showDistancePicker" class="section-cell flex mui-btn mui-btn-block" type="button">
            <p class="section-title">距离</p>
            <p id="distance" class="section-option">3000米</p>
        </button>
        <div id='distanceResult' class="ui-alert"></div>
    </div>

    <div id="district-box" class="choice-section">
        <button id="showUserPicker" class="section-cell flex mui-btn mui-btn-block" type="button">
            <p class="section-title">区域</p>
            <p id="district" class="section-option">全部区域</p>
        </button>
        <div id='userResult' class="ui-alert"></div>
    </div>

    <div class="content-container">
        <div id="mescroll" class="mescroll">
            <div class="content-list">
            </div>
        </div>
    </div>


    <footer class="footer">
        <ul class="menu-list flex">
            <li class="menu-item active-menu">
                <a class="footer-menu flex flex-column" href="./point.html">
                    <img src="../../img/sitechoice@3x.png" alt=""> 网点
                </a>
            </li>
            <li class="menu-item">
                <a id="menu-map" class="footer-menu flex flex-column" href="javascript:void(0);">
                    <img src="../../img/map@3x.png" alt=""> 地图
                </a>
            </li>
        </ul>
    </footer>
    <script src="//front-h5.oss-cn-hangzhou.aliyuncs.com/mui.min.js"></script>
    <script src="//static.allcitygo.com/sdk/JSsdk1.0.1.js?v=1.0"></script>
    <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="//front-h5.oss-cn-hangzhou.aliyuncs.com/mui/mui.picker.min.js"></script>
    <script src="../../js/common.js?v=1.0.0"></script>
    <script src="//front-h5.oss-cn-hangzhou.aliyuncs.com/mescroll/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="../../js/site/point.js?v=1.1.13"></script>
</body>

</html>